################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/UlmUniversityNews/packages/WPtoolkit.4.2013.06.11
/UlmUniversityNews/DataHandlingLayer/Common/PropertyChangedListeningObservableCollection.cs
/UlmUniversityNews/UlmUniversityNews/Common/CustomUserControl

*.suo
*.user
_ReSharper.*
bin/
obj/
bin/*
obj/*